/* General styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
} 

/* Custom box styles */
.custom-box {
    background-color: #007bff; /* Bootstrap primary color */
    color: white;
    text-align: center;
    padding: 20px;
    /* border-radius: 5px; */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: black solid 1px;
}

/* Headings */
h3 {
    margin-top: 30px;
    color: #343a40; /* Bootstrap dark color */
}